/*Insert custom css here*/
#mainSection {
    min-height: 100vh;
}

#adminListContent,
#PageNotFoundSection,
#loginSection {
    min-height: 100vh;
    background: url("Images/citc2.png") no-repeat center center fixed;
    background-size: cover;
}

/* Section style*/
#homepageSection .container,
#preCreateAssessmentSection .container,
#createAssessmentSection .container,
#editAssessmentSection .container,
#registerStudSection .container,
#registerSubjectSection .container,
#registerLecturerSection .container {
    min-height: 100vh;
    max-width: 800px;
}

#displayAsmntSection .container,
#asmntSection .container,
#markAssessmentListSection .container,
#adminListContent .container {
    min-height: 100vh;
}

#createAssessmentSection,
#editAssessmentSection,
#displayAsmntSection,
#markAssessmentListSection,
#studAssessListSection,
#preCreateAssessmentSection {
    background: url('../Content/Images/kelli-tungay-324329-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
}

#homepageSection,
#registerStudSection,
#asmntSection,
#registerSubjectSection,
#registerLecturerSection {
    background: url('../Content/Images/bg2.jpg') no-repeat center center fixed;
    background-size: cover;
}

#lecturerViewListSection {
    background: url('../Content/Images/book2.jpg') no-repeat center center fixed;
    background-size: cover;
}
