/*Insert custom css here*/
#mainSection {
    min-height:100vh;
}

#loginSection {
    min-height: 100vh;
    background: url("Images/citc2.png") no-repeat center center fixed;
    background-size: cover;
}

/* Section style*/
section#registerStudSection .container,
section#registerSubjectSection .container,
section#registerLecturerSection .container {
    min-height: 100vh;
    max-width: 800px;
}

section#registerStudSection,
section#registerSubjectSection,
section#registerLecturerSection {
    background: url('../Content/Images/kelli-tungay-324329-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
}